html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll during transitions */
  background-color: black;
}

.App {
  position: relative;
}

footer {
	background: black; /* Light gray for modern simplicity */
	color: gold; /* Dark text for contrast */
	text-align: center;
	padding: 15px;
	font-size: 0.9rem; /* Smaller font size for subtle appearance */
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Top shadow for separation */
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a {
	color: #007bff; /* Accent color for links */
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline; /* Highlight link on hover */
}
